<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-right">
          <%= link_to user.name, user_path(user.id) %>
          <% if user.image_name %>
            <img src="<%= "/user_images/#{user.image_name}" %>">
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>