<div class="main users-index">
  <div class="container">
    <h1 class="heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index__item">
        <% if user.image_name %>
          <%= image_tag user.image_name.url, size: '100x80', class: "users-index__item--image" %>
        <% end %>
        <div class="users-index__item--box">
          <%= link_to user.name, user_path(user.id), class: "users-index__item--box--name" %>
        </div>
      </div>
    <% end %>
    <%= paginate(@users) %>
  </div>
</div>