<div class="main user-show">
  <div class="container">
    <div class="user-info">
      <%= image_tag "/user_images/#{@user.image_name}", size: "320x300", class: "user-info__image" %>
      <h2 class="user-info__name"><%= @user.name %></h2>
      <p class="user-info__email"><%= @user.email %></p>
      <%= link_to "編集", edit_user_path(@user.id), class: "user-info__edit" %>
    </div>
  </div>
</div>