* {
  box-sizing: border-box;
  font-family: 'メイリオ',
	'Hiragino Kaku Gothic Pro',
	sans-serif;
}

.main{
  padding-top: 64px;
  width: 100%;
  min-height: 100vh;
  background-color: $lightGray;
  overflow: scroll;
  .container{
    max-width: 600px;
    margin: 60px auto;
  }
}

.heading{
  font-size: 24px;
  color: $gray;
  margin-bottom: 10px;
}

.errors{
  color: red;
  margin-bottom: 5px;
}

.pagination{
  margin-top: 15px;
  text-align: right;
  span{
    color: $gray;
    a{
      color: $gray;
    }
  }
}