.users-form{
  &__body{
    &--title{
      color: $dark-color;
      margin-bottom: 5px;
    }
    &--field{
      width: 50%;
      padding: 5px;
      margin-bottom: 20px;
      border-style: none;
    }
    &--image{
      display: flex;
      margin-bottom: 20px;
      &__label{
        display: block;
        width: 140px;
        height: 40px;
        cursor: pointer;
        color: $dark-color;
        font-size: 16px;
        border: 1px solid $gray;
        border-radius: 10px;
        padding: 0 10px;
        text-align: center;
        line-height: 40px;
      }
      &__file{
        display: none;
      }
      &__selected{
        margin-left: 10px;
      }
    }
    &--btn{
      width: 50%;
      height: 30px;
      color: $white;
      letter-spacing: 3px;
      background-color: $accent-color;
      border-style: none;
    }
  }
}