.users-index__item{
  width: 100%;
  background-color: $white;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  &--image{
    border-radius: 50%;
  }
  &--box{
    &--name{
      font-size: 24px;
      color: $gray;
      letter-spacing: 3px;
      margin-left: 20px;
      text-decoration: none;
      &:hover{
        color: $dark-color;
      }
    }
  }
}
